/*.card {*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 5px;*/
/*    padding: 16px;*/
/*    width: 300px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.avatar {*/
/*    width: 80px;*/
/*    height: 80px;*/
/*    border-radius: 50%;*/
/*    margin-bottom: 10px;*/
/*}*/

/*.name {*/
/*    font-size: 1.2em;*/
/*    font-weight: bold;*/
/*    margin-bottom: 5px;*/
/*}*/

/*.username {*/
/*    color: #777;*/
/*    margin-bottom: 10px;*/
/*}*/

/*.location {*/
/*    color: #555;*/
/*    margin-bottom: 15px;*/
/*}*/

/*.stats {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    border-top: 1px solid #eee;*/
/*    padding-top: 10px;*/
/*}*/

/*.stat-item {*/
/*    text-align: center;*/
/*}*/

/*.stat-label {*/
/*    font-size: 0.9em;*/
/*    color: #777;*/
/*}*/

/*.stat-value {*/
/*    font-weight: bold;*/
/*}*/

/*.cardStats {*/
/*    display: flex;*/
/*    */
/*}*/

/*.cardStatsLi {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/* Profile.module.css */
.mainInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 16px;
    width: 300px;
    text-align: center;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.name {
    font-size: 1.2em;
    font-weight: bold;
    marginbottom: 5px;
}

.username {
    color: #777;
    margin-bottom: 10px;
}

.location {
    color: #555;
    margin-bottom: 15px;
}

.stats {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.statItem {
    text-align: center;
}

.statLabel {
    font-size: 0.9em;
    color: #777;
}

.statValue {
    font-weight: bold;
}
